In [3]:
import pandas as pd

# Import data

In [6]:
df = pd.read_csv("../data/articles_locations_coordinates.csv")

# Conduct sentiment analysis using SpaCY & VADER

In [7]:
import pandas as pd
from textblob import TextBlob
import spacy
from nltk.sentiment.vader import SentimentIntensityAnalyzer

# Load a SpaCy Model
nlp = spacy.load('en_core_web_sm')

# Initialize VADER SentimentIntensityAnalyzer
analyzer = SentimentIntensityAnalyzer()

# Function to get sentiment
def get_sentiment(text):
    # Process text with SpaCy
    doc = nlp(text)
    
    # Convert SpaCy Doc to TextBlob object for sentiment analysis
    blob = TextBlob(doc.text)
    
    # Return the polarity
    return blob.sentiment.polarity

# Function to apply sentiment analysis
def get_vader_sentiment(text):
    sentiment_score = analyzer.polarity_scores(text)
    return sentiment_score['compound']  # return the compound score, or return the whole dictionary if needed.

# Apply the function to the text column and create a new column 'sentiment'
df['spacy_title'] = df['title'].apply(get_sentiment)
df['spacy_description'] = df['description'].apply(get_sentiment)
df['vader_title'] = df['title'].apply(get_vader_sentiment)
df['vader_description'] = df['description'].apply(get_vader_sentiment)

### Spacy: for polarity, -1 is negative, 1 is positive
### Vadar:

In [8]:
df.head(5)

,Unnamed: 0,title,link,description,published,city,state_name,county_name,lat,lng,spacy_title,spacy_description,vader_title,vader_description
0,695,In pictures: Isle's ancient finds,http://www.bbc.co.uk/news/uk-scotland-highland...,Green marble from Greece among ancient finds o...,"Sun, 19 Aug 2012 08:21:03 GMT",Isle,Minnesota,Mille Lacs,46.1389,-93.4592,0.0,-0.2,0.0000,0.0000
1,696,Mass burials at ancient Isle site,http://www.bbc.co.uk/go/rss/int/news/-/news/sc...,Archaeologists on Orkney are investigating wha...,"Thu, 02 Dec 2010 10:03:56 GMT",Isle,Minnesota,Mille Lacs,46.1389,-93.4592,0.0,-0.3,0.0000,0.0000
2,984,'Mutant rats' immune to poisons,http://www.bbc.co.uk/news/uk-england-19974261#...,An increasing number of rats in parts of the w...,"Wed, 17 Oct 2012 08:57:35 GMT",England,Arkansas,Lonoke,34.5454,-91.9675,0.0,0.5,-0.3612,-0.5667
3,985,Court battle on badger cull fails,http://www.bbc.co.uk/news/science-environment-...,The Badger Trust has lost its Court of Appeal ...,"Tue, 11 Sep 2012 15:57:30 GMT",England,Arkansas,Lonoke,34.5454,-91.9675,-0.5,-0.2,-0.6597,-0.3182
4,986,No English badger cull this year,http://www.bbc.co.uk/go/rss/int/news/-/news/uk...,There will be no culling of badgers in England...,"Tue, 19 Jul 2011 14:18:48 GMT",England,Arkansas,Lonoke,34.5454,-91.9675,0.0,0.0,-0.2960,-0.2960

In [10]:
df.to_csv("../data/articles_sentiment_spacy_vader.csv")