# Import data

In [2]:
import numpy as np
import pandas as pd
import pycountry
import re
import spacy

In [7]:
df_bbc = pd.read_csv("../data/bbc_science_and_climate_articles_2010-2023.csv")
df_nasa = pd.read_csv("../data/nasa_climate_articles_2020-2023.csv")

In [8]:
df_bbc.head()

,title,link,description,published
0,Mars rover's wind sensor damaged,http://www.bbc.co.uk/news/science-environment-...,A sensor on the mast of Nasa's Curiosity rover...,"Tue, 21 Aug 2012 20:03:54 GMT"
1,Bugs sunbathe to 'stay healthy',http://www.bbc.co.uk/nature/19319086,Western boxelder bugs sunbathe to fight off ge...,"Wed, 22 Aug 2012 08:08:03 GMT"
2,Star is caught devouring planet,http://www.bbc.co.uk/news/science-environment-...,Astronomers spot evidence of a distant star co...,"Tue, 21 Aug 2012 15:55:38 GMT"
3,Arctic ice set to hit record low,http://www.bbc.co.uk/news/science-environment-...,Arctic sea ice looks set to reach a record low...,"Tue, 21 Aug 2012 10:55:46 GMT"
4,Shanghai tops 'flood risk list',http://www.bbc.co.uk/news/science-environment-...,Shanghai is the most vulnerable major city in ...,"Tue, 21 Aug 2012 06:58:06 GMT"

In [9]:
df_nasa.head()

,title,link,description,published
0,Meteors Great and Small,https://earthobservatory.nasa.gov/images/14869...,While the major meteor showers draw the most a...,"Sat, 14 Aug 2021 00:00:00 -0400"
1,Oceans Primed for Peak of Hurricane Season,https://earthobservatory.nasa.gov/images/14868...,Sea surface temperatures are a fair predictor ...,"Fri, 13 Aug 2021 00:00:00 -0400"
2,Fire Outbreak in Algeria,https://earthobservatory.nasa.gov/images/14868...,"More than 62,000 hectares have burned in the c...","Wed, 11 Aug 2021 18:05:01 -0400"
3,Fire Consumes Large Swaths of Greece,https://earthobservatory.nasa.gov/images/14868...,Fires in the country have consumed five times ...,"Wed, 11 Aug 2021 17:39:23 -0400"
4,Sizing Up How Agriculture Connects to Deforest...,https://earthobservatory.nasa.gov/images/14867...,Using satellite data from the past two decades...,"Wed, 11 Aug 2021 00:00:00 -0400"

In [12]:
df = pd.concat([df_bbc, df_nasa], axis = 0)

In [14]:
df.shape

(20854, 4)

# Use NLP to detect location in titles and descriptions

In [16]:
#Convert title and description to string
df['title'] = df['title'].astype(str)
df['description'] = df['description'].astype(str)

# Load the SpaCy model
nlp = spacy.load('en_core_web_sm')

# Extract location entities
#GPE = geopolitical entities (cities/countries)
#LOC = non-GPE, mountain ranges/bodies of water

def extract_locations(text):
    doc = nlp(text)
    locations = [ent.text for ent in doc.ents if ent.label_ in ['GPE', 'LOC']]
    return ', '.join(locations)

# Apply the function to the 'Text' column and create a new column 'Locations' with the results
df['nlp_title'] = df['title'].apply(extract_locations)
df['nlp_descrip'] = df['description'].apply(extract_locations)

#Save file with parsed locations as a csv file (it takes 7 min to rerun the code)
df.to_csv("../data/bbc_and_nasa_articles_locations_parsed.csv")

# Merge with US city locality data

In [47]:
#Subset rows that have location data
#10,172 out of 20,102 total rows have location data
df1 = df[df['nlp_title'].notna() | df['nlp_descrip'].notna()]

#Import US cities dataframe
us_locations = pd.read_csv("../data/uscities.csv")
us_states = pd.read_csv("../data/us_states.csv")

#Use only city
city_list = us_locations['city'].unique().tolist()
state_list = us_locations['state_name'].unique().tolist()

#Find titles that match city location list
def match_location(row):
    if row['nlp_title'] in city_list or row['nlp_title'] in state_list:
        return row['nlp_title']
    elif row['nlp_descrip'] in city_list or row['nlp_descrip'] in state_list:
        return row['nlp_descrip']
    else:
        return np.nan

#Create column that identifies which city matches
df1['location_match'] = df1.apply(match_location, axis=1)

#Subset if data frame has at least one city_match
df2 = df1[df1['location_match'].notna()]

#Keep only important columns
df3 = df2[['title', 'link', 'description', 'published', 'location_match']]

In [48]:
df3.head()

,title,link,description,published,location_match
0,Mars rover's wind sensor damaged,http://www.bbc.co.uk/news/science-environment-...,A sensor on the mast of Nasa's Curiosity rover...,"Tue, 21 Aug 2012 20:03:54 GMT",Mars
2,Star is caught devouring planet,http://www.bbc.co.uk/news/science-environment-...,Astronomers spot evidence of a distant star co...,"Tue, 21 Aug 2012 15:55:38 GMT",Earth
7,Nasa selects another Mars mission,http://www.bbc.co.uk/news/science-environment-...,Just two weeks after landing its Curiosity rov...,"Mon, 20 Aug 2012 20:39:33 GMT",Mars
16,Nasa's Mars rover zaps first rock,http://www.bbc.co.uk/news/science-environment-...,Nasa's Curiosity rover deploys its laser instr...,"Mon, 20 Aug 2012 11:32:28 GMT",Mars
19,Scott's ship found off Greenland,http://www.bbc.co.uk/news/science-environment-...,The wreck of the ship that carried Captain Rob...,"Thu, 16 Aug 2012 14:52:21 GMT",Greenland

In [49]:
#Drop cities that have duplicate keys (same city name but different locality)
us_cities_filtered = us_locations[us_locations['city'].duplicated(keep=False) == False]

#Keep important columns
us_cities_filtered = us_cities_filtered[['city', 'state_name', 'county_name', 'lat', 'lng', 'zips']]

In [50]:
locations_map = df3.set_index('location_match')[['title', 'link', 'description', 'published']]
locations_map

,title,link,description,published
location_match,,,,
Mars,Mars rover's wind sensor damaged,http://www.bbc.co.uk/news/science-environment-...,A sensor on the mast of Nasa's Curiosity rover...,"Tue, 21 Aug 2012 20:03:54 GMT"
Earth,Star is caught devouring planet,http://www.bbc.co.uk/news/science-environment-...,Astronomers spot evidence of a distant star co...,"Tue, 21 Aug 2012 15:55:38 GMT"
Mars,Nasa selects another Mars mission,http://www.bbc.co.uk/news/science-environment-...,Just two weeks after landing its Curiosity rov...,"Mon, 20 Aug 2012 20:39:33 GMT"
Mars,Nasa's Mars rover zaps first rock,http://www.bbc.co.uk/news/science-environment-...,Nasa's Curiosity rover deploys its laser instr...,"Mon, 20 Aug 2012 11:32:28 GMT"
Greenland,Scott's ship found off Greenland,http://www.bbc.co.uk/news/science-environment-...,The wreck of the ship that carried Captain Rob...,"Thu, 16 Aug 2012 14:52:21 GMT"
...,...,...,...,...
Earth,Typhoon Hinnamnor,https://earthobservatory.nasa.gov/images/15029...,"On August 30, the storm became the first categ...","Thu, 01 Sep 2022 18:09:36 -0400"
China,Parched Poyang Lake,https://earthobservatory.nasa.gov/images/15028...,Prolonged heat and drought have drained China’...,"Thu, 01 Sep 2022 16:47:57 -0400"
Russia,From Russia with Questions,https://earthobservatory.nasa.gov/images/14796...,Researchers are puzzling over a distinctive st...,"Tue, 23 Feb 2021 00:00:00 -0500"
Earth,Hints of a Recent Eruption,https://earthobservatory.nasa.gov/images/14795...,Photographing an ongoing volcanic eruption any...,"Sun, 21 Feb 2021 00:00:00 -0500"
Pacific,Cloud Party in the Pacific,https://earthobservatory.nasa.gov/images/14959...,Two eye-catching cloud types—flower-shaped act...,"Fri, 18 Mar 2022 00:00:00 -0400"

In [51]:
us_cities_filtered.columns

Index(['city', 'state_name', 'county_name', 'lat', 'lng', 'zips'], dtype='object')

In [52]:
df4 = pd.concat([pd.merge(us_cities_filtered, df3, left_on='city', right_on = 'location_match'),
           pd.merge(us_states, df3, left_on='state_name', right_on='location_match')])

In [53]:
df4.shape

(2116, 11)

In [55]:
df4.head(50)

,city,state_name,county_name,lat,lng,zips,title,link,description,published,location_match
0,New York,New York,Queens,40.6943,-73.9249,11229 11226 11225 11224 11223 11221 11220 1138...,How ancient collision shaped New York skyline,http://www.bbc.co.uk/news/science-environment-...,How the collision of ancient landmasses framed...,"Fri, 07 Jun 2013 01:26:25 GMT",New York
1,New York,New York,Queens,40.6943,-73.9249,11229 11226 11225 11224 11223 11221 11220 1138...,New York 'at risk' as seas rise,http://www.bbc.co.uk/go/rss/int/news/-/news/sc...,New York is set to be a major loser as a resul...,"Fri, 08 Apr 2011 12:00:28 GMT",New York
2,New York,New York,Queens,40.6943,-73.9249,11229 11226 11225 11224 11223 11221 11220 1138...,VIDEO: Get up close to shuttle Enterprise,http://www.bbc.co.uk/news/science-environment-...,Nasa's shuttle Enterprise has moved to a new h...,"Thu, 19 Jul 2012 12:53:27 GMT",New York
3,New York,New York,Queens,40.6943,-73.9249,11229 11226 11225 11224 11223 11221 11220 1138...,VIDEO: 'Bio-hackers' create New York lab,http://www.bbc.co.uk/go/rss/int/news/-/news/wo...,A group of scientists have created the first c...,"Wed, 15 Feb 2012 03:26:00 GMT",New York
4,New York,New York,Queens,40.6943,-73.9249,11229 11226 11225 11224 11223 11221 11220 1138...,Lab rodents drowned in NY floods,http://www.bbc.co.uk/news/science-environment-...,Thousands of lab rodents have drowned after st...,"Thu, 01 Nov 2012 15:43:51 GMT",New York
5,New York,New York,Queens,40.6943,-73.9249,11229 11226 11225 11224 11223 11221 11220 1138...,VIDEO: Shuttle cruises through New York,http://www.bbc.co.uk/news/world-us-canada-1834...,The space shuttle Enterprise is making the fin...,"Wed, 06 Jun 2012 16:37:45 GMT",New York
6,New York,New York,Queens,40.6943,-73.9249,11229 11226 11225 11224 11223 11221 11220 1138...,DNA pioneer's Nobel Prize auctioned,http://www.bbc.co.uk/news/world-us-canada-2211...,The Nobel Prize won by British scientist Franc...,"Thu, 11 Apr 2013 17:54:10 GMT",New York
7,New York,New York,Queens,40.6943,-73.9249,11229 11226 11225 11224 11223 11221 11220 1138...,VIDEO: 'Duelling dinosaurs' for auction,http://www.bbc.co.uk/news/world-us-canada-2495...,Two dinosaurs thought to have been locked in c...,"Fri, 15 Nov 2013 11:33:09 GMT",New York
8,New York,New York,Queens,40.6943,-73.9249,11229 11226 11225 11224 11223 11221 11220 1138...,New frog species spotted in NYC,http://www.bbc.co.uk/go/rss/int/news/-/news/wo...,Scientists say they have spotted a new species...,"Wed, 14 Mar 2012 15:41:46 GMT",New York
9,New York,New York,Queens,40.6943,-73.9249,11229 11226 11225 11224 11223 11221 11220 1138...,New York's real-world 'Sim City',http://www.bbc.co.uk/news/technology-19753721#...,A computer game is being used to plan changes ...,"Tue, 02 Oct 2012 06:30:19 GMT",New York
10,New York,New York,Queens,40.6943,-73.9249,11229 11226 11225 11224 11223 11221 11220 1138...,Sandy: New York devastation mapped,http://www.bbc.co.uk/news/world-us-canada-2013...,Maps and images showing the damage caused by H...,"Tue, 30 Oct 2012 18:32:04 GMT",New York
11,New York,New York,Queens,40.6943,-73.9249,11229 11226 11225 11224 11223 11221 11220 1138...,Bronx Zoo's missing cobra found,http://www.bbc.co.uk/go/rss/int/news/-/news/wo...,A venomous cobra that went missing from the Br...,"Thu, 31 Mar 2011 21:05:26 GMT",New York
12,New York,New York,Queens,40.6943,-73.9249,11229 11226 11225 11224 11223 11221 11220 1138...,'Lights out' help migratory birds,http://www.bbc.co.uk/go/rss/int/news/-/news/sc...,A growing number of New York sky-scrapers swit...,"Thu, 02 Sep 2010 17:52:21 GMT",New York
13,New York,New York,Queens,40.6943,-73.9249,11229 11226 11225 11224 11223 11221 11220 1138...,VIDEO: Film features plight of African park,http://www.bbc.co.uk/news/entertainment-arts-2...,The lethal realities of life in Virunga Nation...,"Thu, 24 Apr 2014 10:22:06 GMT",New York
14,New York,New York,Queens,40.6943,-73.9249,11229 11226 11225 11224 11223 11221 11220 1138...,VIDEO: Space memorabilia to be auctioned,http://www.bbc.co.uk/news/science-environment-...,"A collection of rare space memorabilia, includ...","Sat, 23 Mar 2013 03:38:07 GMT",New York
15,New York,New York,Queens,40.6943,-73.9249,11229 11226 11225 11224 11223 11221 11220 1138...,VIDEO: Fish farming in a high-rise world,http://www.bbc.co.uk/news/world-us-canada-1786...,Aquaponics pioneer brings tilapia to New York,"Sun, 29 Apr 2012 23:05:27 GMT",New York
16,New York,New York,Queens,40.6943,-73.9249,11229 11226 11225 11224 11223 11221 11220 1138...,Cancer 'not just down to bad luck',http://www.bbc.co.uk/news/health-35111449#sa-n...,Cancer is overwhelmingly a result of environme...,"Thu, 17 Dec 2015 09:23:44 GMT",New York
17,New York,New York,Queens,40.6943,-73.9249,11229 11226 11225 11224 11223 11221 11220 1138...,VIDEO: Global push to tackle climate change,http://www.bbc.co.uk/news/science-environment-...,Leaders from 120 countries will meet in New Yo...,"Tue, 23 Sep 2014 08:19:10 GMT",New York
18,New York,New York,Queens,40.6943,-73.9249,11229 11226 11225 11224 11223 11221 11220 1138...,VIDEO: Global climate marches demand action,http://www.bbc.co.uk/news/world-us-canada-2930...,Worldwide demonstrations ahead of a UN meeting...,"Sun, 21 Sep 2014 23:30:17 GMT",New York
19,New York,New York,Queens,40.6943,-73.9249,11229 11226 11225 11224 11223 11221 11220 1138...,Solar Impulse flies over night-time New York,http://www.bbc.co.uk/news/science-environment-...,A plane powered only by the sun travels to New...,"Sat, 11 Jun 2016 08:05:50 GMT",New York
20,New York,New York,Queens,40.6943,-73.9249,11229 11226 11225 11224 11223 11221 11220 1138...,VIDEO: Get up close to Shuttle Enterprise,http://www.bbc.co.uk/news/science-environment-...,Nasa's Shuttle Enterprise has moved to a new h...,"Thu, 19 Jul 2012 12:53:27 GMT",New York
21,New York,New York,Queens,40.6943,-73.9249,11229 11226 11225 11224 11223 11221 11220 1138...,Shark found on New York subway,http://www.bbc.co.uk/news/world-us-canada-2361...,"New York City's subway, no stranger to exotic ...","Wed, 07 Aug 2013 21:05:13 GMT",New York
22,New York,New York,Queens,40.6943,-73.9249,11229 11226 11225 11224 11223 11221 11220 1138...,Moon dust bag sold for $1.8m at New York auction,http://www.bbc.co.uk/news/world-us-canada-4067...,The bag was used by astronaut Neil Armstrong t...,"Thu, 20 Jul 2017 22:28:58 GMT",New York
23,New York,New York,Queens,40.6943,-73.9249,11229 11226 11225 11224 11223 11221 11220 1138...,A goat's dream job?,http://www.bbc.co.uk/news/world-us-canada-4023...,Mangers of Prospect Park in New York are happy...,"Sat, 10 Jun 2017 06:36:15 GMT",New York
24,New York,New York,Queens,40.6943,-73.9249,11229 11226 11225 11224 11223 11221 11220 1138...,Albert Einstein's 'God letter' sells for $2.9m,https://www.bbc.co.uk/news/world-us-canada-464...,The 1954 letter about religion smashed its pre...,"Tue, 04 Dec 2018 21:01:42 GMT",New York
25,Chicago,Illinois,Cook,41.8375,-87.6866,60018 60649 60641 60640 60643 60642 60645 6064...,Chicago goes to war with Asian carp,http://www.bbc.co.uk/news/science-environment-...,The city of Chicago is considering drastic mea...,"Tue, 18 Feb 2014 00:51:18 GMT",Chicago
26,Chicago,Illinois,Cook,41.8375,-87.6866,60018 60649 60641 60640 60643 60642 60645 6064...,Scientists recapture Renoir's reds,http://www.bbc.co.uk/news/science-environment-...,Conservation scientists in Chicago produce a s...,"Thu, 13 Feb 2014 18:04:54 GMT",Chicago
27,Chicago,Illinois,Cook,41.8375,-87.6866,60018 60649 60641 60640 60643 60642 60645 6064...,TV remote control inventor dies,http://www.bbc.co.uk/news/world-us-canada-1816...,"The inventor of the television remote control,...","Tue, 22 May 2012 20:23:35 GMT",Chicago
28,Seattle,Washington,King,47.6211,-122.3244,98109 98108 98104 98107 98106 98101 98103 9810...,VIDEO: Turtle treated for buoyancy disorder,http://www.bbc.co.uk/news/35940406#sa-ns_mchan...,A turtle in Seattle has undergone experimental...,"Fri, 01 Apr 2016 03:27:20 GMT",Seattle
29,Seattle,Washington,King,47.6211,-122.3244,98109 98108 98104 98107 98106 98101 98103 9810...,Turtle treated for buoyancy disorder,http://www.bbc.co.uk/news/35940406#sa-ns_mchan...,A turtle in Seattle has undergone experimental...,"Fri, 01 Apr 2016 03:27:20 GMT",Seattle
30,San Francisco,California,San Francisco,37.7558,-122.4449,94130 94131 94132 94133 94134 94103 94102 9410...,Recycling wars in San Francisco,http://www.bbc.co.uk/go/rss/int/news/-/news/ma...,Criminals cashing in by stealing cans and bottles,"Tue, 31 Jan 2012 11:55:32 GMT",San Francisco
31,San Francisco,California,San Francisco,37.7558,-122.4449,94130 94131 94132 94133 94134 94103 94102 9410...,San Francisco to stop buying Macs,http://www.bbc.co.uk/news/technology-18790729#...,San Francisco's Department of Environment plan...,"Tue, 10 Jul 2012 22:04:28 GMT",San Francisco
32,New Orleans,Louisiana,Orleans,30.0687,-89.9288,70139 70130 70131 70148 70114 70115 70116 7011...,Lower Ninth five years after Katrina,http://news.bbc.co.uk/go/rss/int/news/-/1/hi/p...,The Lower Ninth Ward of New Orleans was hit pa...,"Thu, 26 Aug 2010 23:58:32 GMT",New Orleans
33,New Orleans,Louisiana,Orleans,30.0687,-89.9288,70139 70130 70131 70148 70114 70115 70116 7011...,Nasa Moon rocket core leaves for testing,https://www.bbc.co.uk/news/science-environment...,"The first core stage for Nasa's ""mega-rocket"",...","Thu, 09 Jan 2020 13:26:50 GMT",New Orleans
34,New Orleans,Louisiana,Orleans,30.0687,-89.9288,70139 70130 70131 70148 70114 70115 70116 7011...,Satellite Observes Power Outages in New Orleans,https://earthobservatory.nasa.gov/images/14877...,"Three days after Hurricane Ida, many people in...","Wed, 01 Sep 2021 13:01:03 -0400",New Orleans
35,Tulsa,Oklahoma,Tulsa,36.1283,-95.9042,74171 74137 74134 74132 74133 74130 74136 7413...,"Tulsa massacre: The search for victims, 100 ye...",https://www.bbc.co.uk/news/world-us-canada-572...,Decades after white mobs razed an affluent bla...,"Wed, 26 May 2021 23:56:22 GMT",Tulsa
36,Santa Barbara,California,Santa Barbara,34.4285,-119.7202,93105 93101 93103 93109 93102 93120 93121 9313...,Alisal Fire Rages Near Santa Barbara,https://earthobservatory.nasa.gov/images/14895...,Chaparral shrublands and strong winds are fuel...,"Wed, 13 Oct 2021 17:59:02 -0400",Santa Barbara
37,Suffolk,Virginia,Suffolk,36.6953,-76.6398,23433 23432 23437 23436 23435 23434 23438 23439,'Black widow' scare at airbase,http://www.bbc.co.uk/news/uk-england-suffolk-1...,Buildings at an air base in Suffolk are closed...,"Mon, 15 Oct 2012 13:09:29 GMT",Suffolk
38,Suffolk,Virginia,Suffolk,36.6953,-76.6398,23433 23432 23437 23436 23435 23434 23438 23439,Rats 'eat' part of woman's car,http://www.bbc.co.uk/news/uk-england-suffolk-2...,"Rats ""eat"" part of a Suffolk woman's car causi...","Thu, 24 Jan 2013 09:17:58 GMT",Suffolk
39,Suffolk,Virginia,Suffolk,36.6953,-76.6398,23433 23432 23437 23436 23435 23434 23438 23439,Springwatch boosts Minsmere numbers,http://www.bbc.co.uk/news/uk-england-suffolk-2...,The Suffolk nature reserve which hosted BBC Sp...,"Sat, 21 Jun 2014 09:22:47 GMT",Suffolk
40,Suffolk,Virginia,Suffolk,36.6953,-76.6398,23433 23432 23437 23436 23435 23434 23438 23439,Fox and hedgehog share bite to eat,http://www.bbc.co.uk/news/uk-england-suffolk-2...,A fox and a hedgehog are captured on a webcam ...,"Sat, 24 May 2014 07:26:02 GMT",Suffolk
41,Suffolk,Virginia,Suffolk,36.6953,-76.6398,23433 23432 23437 23436 23435 23434 23438 23439,Whale dies after beaching on bank,http://www.bbc.co.uk/news/uk-england-suffolk-1...,"A young fin whale, 10m (33ft) in length, dies ...","Mon, 01 Oct 2012 11:37:38 GMT",Suffolk
42,Suffolk,Virginia,Suffolk,36.6953,-76.6398,23433 23432 23437 23436 23435 23434 23438 23439,Barn owl boxes stolen and vandalised,http://www.bbc.co.uk/news/uk-england-suffolk-2...,Five barn owl boxes which are part of a Suffol...,"Thu, 19 Jun 2014 12:12:50 GMT",Suffolk
43,Suffolk,Virginia,Suffolk,36.6953,-76.6398,23433 23432 23437 23436 23435 23434 23438 23439,Policeman had rare birds' eggs,http://www.bbc.co.uk/news/uk-england-suffolk-2...,A Suffolk police constable amassed a collectio...,"Wed, 24 Oct 2012 13:42:53 GMT",Suffolk
44,Suffolk,Virginia,Suffolk,36.6953,-76.6398,23433 23432 23437 23436 23435 23434 23438 23439,Deer adopted by flock of sheep,http://www.bbc.co.uk/news/uk-england-suffolk-2...,"A young, lost deer has joined up with a flock ...","Thu, 17 Jan 2013 13:12:12 GMT",Suffolk
45,Suffolk,Virginia,Suffolk,36.6953,-76.6398,23433 23432 23437 23436 23435 23434 23438 23439,Policeman stole rare birds' eggs,http://www.bbc.co.uk/news/uk-england-suffolk-2...,A Suffolk police constable amassed a collectio...,"Wed, 24 Oct 2012 13:42:53 GMT",Suffolk
46,Suffolk,Virginia,Suffolk,36.6953,-76.6398,23433 23432 23437 23436 23435 23434 23438 23439,Fears that ash disease has spread,http://www.bbc.co.uk/news/uk-england-suffolk-2...,Symptoms of Chalara dieback are spotted on ash...,"Fri, 26 Oct 2012 17:08:52 GMT",Suffolk
47,Suffolk,Virginia,Suffolk,36.6953,-76.6398,23433 23432 23437 23436 23435 23434 23438 23439,Spiderlings to descend on broads,http://www.bbc.co.uk/go/rss/int/news/-/news/uk...,"More than 1,000 young spiders from a hybrid sp...","Thu, 21 Oct 2010 10:10:20 GMT",Suffolk
48,Suffolk,Virginia,Suffolk,36.6953,-76.6398,23433 23432 23437 23436 23435 23434 23438 23439,Births of endangered Suffolk punch foals celeb...,http://www.bbc.co.uk/news/uk-england-suffolk-4...,Two Suffolk punch horses are being put forward...,"Wed, 04 Apr 2018 16:37:23 GMT",Suffolk
49,Suffolk,Virginia,Suffolk,36.6953,-76.6398,23433 23432 23437 23436 23435 23434 23438 23439,Carlton Marshes expansion 'could protect homes...,https://www.bbc.co.uk/news/uk-england-suffolk-...,A £5m expansion of Suffolk's Carlton Marshes c...,"Fri, 09 Aug 2019 00:28:20 GMT",Suffolk

# Remove if city matches a country name or if it's a planet name (there are articles with Mars and Earth as a location)

In [56]:

# Create a list of world country names
countries_info = []
for country in pycountry.countries:
    countries_info.append({
        'country_name': country.name,
        'alpha_2': country.alpha_2,
        'alpha_3': country.alpha_3,
        'official_name': getattr(country, 'official_name', country.name)  # Some countries might not have an official_name attribute.
    })

# Creating a DataFrame from the list of dictionaries.
df_countries = pd.DataFrame(countries_info)

countries_as_lists = {col_name: df_countries[col_name].tolist() for col_name in df_countries.columns}
country_name = countries_as_lists['country_name']
planet_name = ['Mercury', 'Venus', 'Earth', 'Mars', 'Jupiter', 'Saturn', 'Uranus', 'Neptune']

In [57]:
df5 = df4[~df4['city'].isin(country_name)]
final_df = df5[~df5['city'].isin(planet_name)]

In [58]:
len(final_df)

890

In [59]:
final_df['city'].unique()

array(['New York', 'Chicago', 'Seattle', 'San Francisco', 'New Orleans',
       'Tulsa', 'Santa Barbara', 'Suffolk', 'Carmichael', 'La Palma',
       'Hereford', 'Cape Canaveral', 'Hampshire', 'Belfast', 'North Sea',
       'Dumfries', 'Brisbane', 'Herculaneum', 'Edinburgh', 'North East',
       'Northumberland', 'North Wales', 'Louisiana', 'Stirling',
       'North Pole', 'Maine', 'Rugby', 'England', 'West End', "L'Anse",
       'Edmonton', 'Queensland', 'Baird', 'Farmland', 'Theresa',
       'Sardinia', 'Tripoli', 'Marine', 'Oklahoma', 'Gulf Stream',
       'Patagonia', 'Russia', 'Amanda', 'Virgin', 'Isle', 'Island',
       'Truro', 'Sun', 'Vermont', 'Ohio', 'Everest', 'Fire Island',
       'Amazonia', 'Munich', 'Zephyr', 'Bolivia', 'Midwest', 'Whitehaven',
       'Wimbledon', 'Brussels', 'Mount Etna', 'Nile', 'Donegal',
       'San Cristobal', 'Johannesburg', 'Tennessee', 'Santiago', 'Gulf',
       'Birdsong', 'Perth', nan], dtype=object)

In [60]:
final_df['state_name'].unique()

array(['New York', 'Illinois', 'Washington', 'California', 'Louisiana',
       'Oklahoma', 'Virginia', 'Texas', 'Florida', 'Maine', 'Missouri',
       'Indiana', 'Maryland', 'Pennsylvania', 'New Jersey', 'Alaska',
       'Wisconsin', 'North Dakota', 'Arkansas', 'Michigan', 'Kentucky',
       'Ohio', 'Iowa', 'Arizona', 'Utah', 'Minnesota', 'Kansas',
       'North Carolina', 'Wyoming', 'New Mexico', 'Connecticut',
       'Georgia', 'Hawaii', 'Massachusetts', 'Mississippi', 'Montana',
       'Nevada', 'Oregon', 'Tennessee', 'Vermont', 'West Virginia'],
      dtype=object)

In [62]:
confused_list =['Suffolk','Belfast','North Sea','Hampshire', 'Northumberland','Dumfries','Brisbane','Herculaneum','Edinburgh','North East','North Wales',
                'Louisiana','Stirling','Maine','Rugby','England','West End','Edmonton','Sardinia','Tripoli','Queensland','Oklahoma','Isle','Munich','Johannesburg',
               'Ohio','Everest','Wimbledon','San Cristobal','Tennessee','Santiago','Perth','Vermont','Bolivia','Brussels','Mount Etna','Russia','Patagonia','Amanda',
                'Amazonia','Donegal','Nile']

In [64]:
final_df = final_df.loc[~final_df['city'].isin(confused_list)]
final_df.shape

(446, 11)

In [65]:
final_df.head(30)

,city,state_name,county_name,lat,lng,zips,title,link,description,published,location_match
0,New York,New York,Queens,40.6943,-73.9249,11229 11226 11225 11224 11223 11221 11220 1138...,How ancient collision shaped New York skyline,http://www.bbc.co.uk/news/science-environment-...,How the collision of ancient landmasses framed...,"Fri, 07 Jun 2013 01:26:25 GMT",New York
1,New York,New York,Queens,40.6943,-73.9249,11229 11226 11225 11224 11223 11221 11220 1138...,New York 'at risk' as seas rise,http://www.bbc.co.uk/go/rss/int/news/-/news/sc...,New York is set to be a major loser as a resul...,"Fri, 08 Apr 2011 12:00:28 GMT",New York
2,New York,New York,Queens,40.6943,-73.9249,11229 11226 11225 11224 11223 11221 11220 1138...,VIDEO: Get up close to shuttle Enterprise,http://www.bbc.co.uk/news/science-environment-...,Nasa's shuttle Enterprise has moved to a new h...,"Thu, 19 Jul 2012 12:53:27 GMT",New York
3,New York,New York,Queens,40.6943,-73.9249,11229 11226 11225 11224 11223 11221 11220 1138...,VIDEO: 'Bio-hackers' create New York lab,http://www.bbc.co.uk/go/rss/int/news/-/news/wo...,A group of scientists have created the first c...,"Wed, 15 Feb 2012 03:26:00 GMT",New York
4,New York,New York,Queens,40.6943,-73.9249,11229 11226 11225 11224 11223 11221 11220 1138...,Lab rodents drowned in NY floods,http://www.bbc.co.uk/news/science-environment-...,Thousands of lab rodents have drowned after st...,"Thu, 01 Nov 2012 15:43:51 GMT",New York
5,New York,New York,Queens,40.6943,-73.9249,11229 11226 11225 11224 11223 11221 11220 1138...,VIDEO: Shuttle cruises through New York,http://www.bbc.co.uk/news/world-us-canada-1834...,The space shuttle Enterprise is making the fin...,"Wed, 06 Jun 2012 16:37:45 GMT",New York
6,New York,New York,Queens,40.6943,-73.9249,11229 11226 11225 11224 11223 11221 11220 1138...,DNA pioneer's Nobel Prize auctioned,http://www.bbc.co.uk/news/world-us-canada-2211...,The Nobel Prize won by British scientist Franc...,"Thu, 11 Apr 2013 17:54:10 GMT",New York
7,New York,New York,Queens,40.6943,-73.9249,11229 11226 11225 11224 11223 11221 11220 1138...,VIDEO: 'Duelling dinosaurs' for auction,http://www.bbc.co.uk/news/world-us-canada-2495...,Two dinosaurs thought to have been locked in c...,"Fri, 15 Nov 2013 11:33:09 GMT",New York
8,New York,New York,Queens,40.6943,-73.9249,11229 11226 11225 11224 11223 11221 11220 1138...,New frog species spotted in NYC,http://www.bbc.co.uk/go/rss/int/news/-/news/wo...,Scientists say they have spotted a new species...,"Wed, 14 Mar 2012 15:41:46 GMT",New York
9,New York,New York,Queens,40.6943,-73.9249,11229 11226 11225 11224 11223 11221 11220 1138...,New York's real-world 'Sim City',http://www.bbc.co.uk/news/technology-19753721#...,A computer game is being used to plan changes ...,"Tue, 02 Oct 2012 06:30:19 GMT",New York
10,New York,New York,Queens,40.6943,-73.9249,11229 11226 11225 11224 11223 11221 11220 1138...,Sandy: New York devastation mapped,http://www.bbc.co.uk/news/world-us-canada-2013...,Maps and images showing the damage caused by H...,"Tue, 30 Oct 2012 18:32:04 GMT",New York
11,New York,New York,Queens,40.6943,-73.9249,11229 11226 11225 11224 11223 11221 11220 1138...,Bronx Zoo's missing cobra found,http://www.bbc.co.uk/go/rss/int/news/-/news/wo...,A venomous cobra that went missing from the Br...,"Thu, 31 Mar 2011 21:05:26 GMT",New York
12,New York,New York,Queens,40.6943,-73.9249,11229 11226 11225 11224 11223 11221 11220 1138...,'Lights out' help migratory birds,http://www.bbc.co.uk/go/rss/int/news/-/news/sc...,A growing number of New York sky-scrapers swit...,"Thu, 02 Sep 2010 17:52:21 GMT",New York
13,New York,New York,Queens,40.6943,-73.9249,11229 11226 11225 11224 11223 11221 11220 1138...,VIDEO: Film features plight of African park,http://www.bbc.co.uk/news/entertainment-arts-2...,The lethal realities of life in Virunga Nation...,"Thu, 24 Apr 2014 10:22:06 GMT",New York
14,New York,New York,Queens,40.6943,-73.9249,11229 11226 11225 11224 11223 11221 11220 1138...,VIDEO: Space memorabilia to be auctioned,http://www.bbc.co.uk/news/science-environment-...,"A collection of rare space memorabilia, includ...","Sat, 23 Mar 2013 03:38:07 GMT",New York
15,New York,New York,Queens,40.6943,-73.9249,11229 11226 11225 11224 11223 11221 11220 1138...,VIDEO: Fish farming in a high-rise world,http://www.bbc.co.uk/news/world-us-canada-1786...,Aquaponics pioneer brings tilapia to New York,"Sun, 29 Apr 2012 23:05:27 GMT",New York
16,New York,New York,Queens,40.6943,-73.9249,11229 11226 11225 11224 11223 11221 11220 1138...,Cancer 'not just down to bad luck',http://www.bbc.co.uk/news/health-35111449#sa-n...,Cancer is overwhelmingly a result of environme...,"Thu, 17 Dec 2015 09:23:44 GMT",New York
17,New York,New York,Queens,40.6943,-73.9249,11229 11226 11225 11224 11223 11221 11220 1138...,VIDEO: Global push to tackle climate change,http://www.bbc.co.uk/news/science-environment-...,Leaders from 120 countries will meet in New Yo...,"Tue, 23 Sep 2014 08:19:10 GMT",New York
18,New York,New York,Queens,40.6943,-73.9249,11229 11226 11225 11224 11223 11221 11220 1138...,VIDEO: Global climate marches demand action,http://www.bbc.co.uk/news/world-us-canada-2930...,Worldwide demonstrations ahead of a UN meeting...,"Sun, 21 Sep 2014 23:30:17 GMT",New York
19,New York,New York,Queens,40.6943,-73.9249,11229 11226 11225 11224 11223 11221 11220 1138...,Solar Impulse flies over night-time New York,http://www.bbc.co.uk/news/science-environment-...,A plane powered only by the sun travels to New...,"Sat, 11 Jun 2016 08:05:50 GMT",New York
20,New York,New York,Queens,40.6943,-73.9249,11229 11226 11225 11224 11223 11221 11220 1138...,VIDEO: Get up close to Shuttle Enterprise,http://www.bbc.co.uk/news/science-environment-...,Nasa's Shuttle Enterprise has moved to a new h...,"Thu, 19 Jul 2012 12:53:27 GMT",New York
21,New York,New York,Queens,40.6943,-73.9249,11229 11226 11225 11224 11223 11221 11220 1138...,Shark found on New York subway,http://www.bbc.co.uk/news/world-us-canada-2361...,"New York City's subway, no stranger to exotic ...","Wed, 07 Aug 2013 21:05:13 GMT",New York
22,New York,New York,Queens,40.6943,-73.9249,11229 11226 11225 11224 11223 11221 11220 1138...,Moon dust bag sold for $1.8m at New York auction,http://www.bbc.co.uk/news/world-us-canada-4067...,The bag was used by astronaut Neil Armstrong t...,"Thu, 20 Jul 2017 22:28:58 GMT",New York
23,New York,New York,Queens,40.6943,-73.9249,11229 11226 11225 11224 11223 11221 11220 1138...,A goat's dream job?,http://www.bbc.co.uk/news/world-us-canada-4023...,Mangers of Prospect Park in New York are happy...,"Sat, 10 Jun 2017 06:36:15 GMT",New York
24,New York,New York,Queens,40.6943,-73.9249,11229 11226 11225 11224 11223 11221 11220 1138...,Albert Einstein's 'God letter' sells for $2.9m,https://www.bbc.co.uk/news/world-us-canada-464...,The 1954 letter about religion smashed its pre...,"Tue, 04 Dec 2018 21:01:42 GMT",New York
25,Chicago,Illinois,Cook,41.8375,-87.6866,60018 60649 60641 60640 60643 60642 60645 6064...,Chicago goes to war with Asian carp,http://www.bbc.co.uk/news/science-environment-...,The city of Chicago is considering drastic mea...,"Tue, 18 Feb 2014 00:51:18 GMT",Chicago
26,Chicago,Illinois,Cook,41.8375,-87.6866,60018 60649 60641 60640 60643 60642 60645 6064...,Scientists recapture Renoir's reds,http://www.bbc.co.uk/news/science-environment-...,Conservation scientists in Chicago produce a s...,"Thu, 13 Feb 2014 18:04:54 GMT",Chicago
27,Chicago,Illinois,Cook,41.8375,-87.6866,60018 60649 60641 60640 60643 60642 60645 6064...,TV remote control inventor dies,http://www.bbc.co.uk/news/world-us-canada-1816...,"The inventor of the television remote control,...","Tue, 22 May 2012 20:23:35 GMT",Chicago
28,Seattle,Washington,King,47.6211,-122.3244,98109 98108 98104 98107 98106 98101 98103 9810...,VIDEO: Turtle treated for buoyancy disorder,http://www.bbc.co.uk/news/35940406#sa-ns_mchan...,A turtle in Seattle has undergone experimental...,"Fri, 01 Apr 2016 03:27:20 GMT",Seattle
29,Seattle,Washington,King,47.6211,-122.3244,98109 98108 98104 98107 98106 98101 98103 9810...,Turtle treated for buoyancy disorder,http://www.bbc.co.uk/news/35940406#sa-ns_mchan...,A turtle in Seattle has undergone experimental...,"Fri, 01 Apr 2016 03:27:20 GMT",Seattle

# Export data

In [66]:
final_df.to_csv("../data/bbc_and_nasa_articles_locations_coordinates.csv")